@charset "UTF-8";

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.1rem;
    text-align: center;
    font-size: 1.4rem;
    color: #404040;
    height: 100%;
    padding: 0;
}

main {
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    font-size: 1.8rem;
    color: #404040;
}

h1, h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #390099;
}

h1{
    font-size: 4.2rem;
    text-transform: uppercase;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
}

/*HEADER*/
#triangle-topleft {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 300px solid #390099;
    border-right: 300px solid transparent;
    z-index: 5;
    padding: 0;
    top: 0;
}

#triangle-topleft span {
    position: absolute;
    color: #fff;
    padding: 0;
    top: -22rem;
    left: -3rem;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 300px;
    font-size: 4.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

header {
    height: 100px;
    width: 100%;
    display: flex;
}

.header-info{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    align-self: center;
}

.localization{
    font-size: 3.5rem;
}

.localization i{
    color: #ff0054;
    padding-right:0.5rem;
}

.reference{
    font-size: 2.5rem;
}

/*BODY*/
.main {
    height: calc(100vh - 190px);
    max-width: 1920px;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
    position: relative;
}

.bg-right-color {
    background-color: #ffbd00;
}

p{
    font-size: 1.8rem;
    line-height: 2.8rem;
}

/*GALLERY*/
figure{
    margin: 0;
}
.gallery img{
    height: calc(100vh - 190px);
    max-width: 1920px;
    width: 100%;
    object-fit: cover;
    
}
.gallery-img {
   position: absolute;
   left: 0;
    transition: opacity .5s ease-in;
  }
  
.gallery-img + .gallery-img { opacity: 0; }
  
/*CONTENT BLOCK*/
#info-block {
    background-color: #fff;
    border-radius: 5px;
    max-width: 31%;
    position: absolute;
    top: 7.5em;
    right: 4em;
    padding: 2.8rem 4rem 2rem 4rem;
    text-align: left;
}
#description-box{
    padding: 1.5rem;
    border-radius: 10px;
    border: 2px solid #390099;
}

#description-box i{
    font-size: 3.5rem;
    display: block;
    padding-bottom: 1rem;
    color: #ff0054;
    opacity: .65;
}

#description-box span{
    font-weight: 500;
}

.price{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    text-align: left;
    padding-top: 2rem;
}

/*FOOTER*/
footer{
    height: 90px;
    width: 100%;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    align-items: center;
}